body {
    font-family: sans-serif;
    background-image: url(/static/bg/noisy_grid.png);
    color: #333;
    margin: 0;
}
.top-header {
    position: fixed;
    padding: 10px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    overflow: hidden;
    transform: translateY(0);
    transition: all .3s;

    &.router-link-active {
        transform: translateY(-100%);
    }
    img {
        vertical-align: middle;
        max-width: 48px;
        max-height: 48px;
    }
    span {
        position: relative;
        top: 5px;
        margin-left: 10px;
        font-size: 22px;
        font-weight: bold;
    }
}

.active-tool {
    position: fixed;
    top: 68px;
    bottom: 0;
    left: 0;
    right: 0;
}

.tool-wrapper {
    text-align: center;
    background-image: url(/static/bg/escheresque_ste.png);
    background-color: #86e5ec;
    padding: 50px;
    color: #fefefe;
}

.img-btn {
    cursor: pointer;
    transition: transform .2s;
    &:hover {
        transform: rotateZ(10deg);
    }
    &:active {
        transform: rotateZ(10deg) scale(0.9);
    }
}